.purchaseItem i {
  margin-right: 10px;
}

.attention {
  color: @label-danger-bg;
}

// admin styles
textarea.description {
  width: 100%;
}

// user purchases
#user-purchases td {
  vertical-align: middle!important;
}
