// sticky footer
@footerSize: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: @footerSize + 10;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @footerSize;
  background-color: #f5f5f5;

  font-size: @font-size-small;

  .container .text-muted {
    margin: 12px 0;
  }
}

// main styles

.button-with-icon i {
  margin-right: 10px;
}

.attention {
  color: @label-danger-bg;
}

.item-details {
  .row;

  h1 {
    @media (min-width: @screen-sm-min) {
      margin-top: 0;
    }
  }

  .price {
    color: @label-success-bg;
    font-size: @font-size-large;
  }
}


.item-thumb {
  margin-bottom: @grid-gutter-width;

  .title {
    padding: 5px 0;

    a:hover {
      text-decoration: none
    }
  }

  .price {
    font-weight: bold;
  }
}

#user-purchases td {
  vertical-align: middle!important;
}


// admin styles
textarea.description {
  width: 100%;
}

.loading {
  display: none;
  position: fixed;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}
