<template name="item">
  <h1>{{title}}</h1>
  <div class="description">
    {{#markdown}}{{description}}{{/markdown}}
  </div>
  <p>
    Price: {{price}} {{currency}}
  </p>
  {{#if inStock}}
    {{#if currentUser}}
      <button class="btn btn-primary purchaseItem"><i class="fa fa-shopping-cart"></i>Proceed to checkout</button>
    {{else}}
      <button class="btn btn-primary purchaseItem" disabled><i class="fa fa-shopping-cart"></i>Proceed to checkout</button>
      <span class="attention">You need to sign in to be able to purchase this item</span>
    {{/if}}
  {{else}}
    <button class="btn btn-danger" disabled>Out of stock</button>
  {{/if}}
</template>
