<template name="item">
  <div class="item-details">
    <div class="col-md-4">
      {{#if titleImage}}
        <a class="image-link" href="{{titleImage.url store='fullImages' auth=false}}"><img class="img-responsive" src="{{titleImage.url store='titleImages' auth=false}}"></a>
      {{else}}
        <img class="img-responsive" src="/images/empty_image.png">
      {{/if}}
      <div class="thumbs">
        <div class="thumbs-collection">
          {{#each additionalImages}}
            <a class="image-link" href="{{this.url store='fullImages' auth=false}}"><img src="{{this.url store='thumbImages' auth=false}}"></a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h1>{{title}}</h1>
      <div class="description">
        {{#markdown}}{{description}}{{/markdown}}
      </div>
      <p class="price">
        Price: <strong>{{price}} {{currency}}</strong>
      </p>
      {{#if inStock}}
        {{#if currentUser}}
          <button class="btn btn-primary button-with-icon purchaseItem"><i class="fa fa-shopping-cart"></i>Proceed to checkout</button>
        {{else}}
          <button class="btn btn-primary button-with-icon purchaseItem" disabled><i class="fa fa-shopping-cart"></i>Proceed to checkout</button>
          <span class="attention">You need to sign in to be able to purchase this item</span>
        {{/if}}
      {{else}}
        <button class="btn btn-danger" disabled>Out of stock</button>
      {{/if}}
    </div>
  </div>
</template>
