<template name="edit">
  {{#autoForm collection="Items" id="editForm" doc=this type="update"}}
    <fieldset>
        <legend>Edit item</legend>
        {{> afQuickField name='title'}}
        <div class="form-group">
          {{> afFieldLabel name='titleImage'}}
          <input type="file" id="titleImage">
          {{#if titleImage}}
            <a class="image-link" href="{{titleImage.url store='titleImages' auth=false}}">Current image</a>
          {{/if}}
        </div>
        {{> afQuickField name='type' options='allowed'}}
        {{> afQuickField name='description' rows=10}}
        {{> afQuickField name='price' step=0.00000001}}
        {{> afQuickField name='currency'}}
        {{> afQuickField name='quantity'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{{pathFor 'adminItems'}}" class="btn btn-default">Cancel</a>
  {{/autoForm}}
</template>
