<template name="new">
  {{#autoForm collection="Items" id="insertForm" type="insert"}}
    <fieldset>
        <legend>New item</legend>
        {{> afQuickField name='title'}}
        <div class="form-group">
          {{> afFieldLabel name='titleImage'}}
          <input type="file" id="titleImage">
        </div>
        {{> afQuickField name='type' options='allowed'}}
        {{> afQuickField name='description' rows=10}}
        {{> afQuickField name='price' step=0.00000001}}
        {{> afQuickField name='currency'}}
        {{> afQuickField name='quantity'}}
        {{> afQuickField name='deliveryType' options='allowed'}}
        <div class="form-group">
          {{> afFieldLabel name='deliveryContent'}}
          <input type="file" id="deliveryContent">
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Create</button>
    <a href="{{pathFor 'adminItems'}}" class="btn btn-default">Cancel</a>
  {{/autoForm}}
</template>
