<template name="new">
  {{#autoForm collection="Items" id="insertForm" type="insert"}}
    <fieldset>
        <legend>New item</legend>
        {{> afQuickField name='title'}}
        <div class="form-group">
          {{> afFieldLabel name='titleImage'}}
          <input type="file" id="titleImage">
        </div>
        <div class="form-group">
          {{> afFieldLabel name='additionalImages'}}
          <input type="file" id="additionalImages" multiple>
          <table class="additional-images">
            <tbody>
              {{#each additionalImages}}
                <tr>
                  <td><a class="image-link" href="{{this.url store='fullImages' auth=false}}">{{this.name}}</a></td>
                  <td><button class="btn btn-danger deleteImage">Delete</button></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        {{> afQuickField name='type' options='allowed'}}
        {{> afQuickField name='description' rows=10}}
        {{> afQuickField name='price' step=0.00000001}}
        {{> afQuickField name='currency' options=currencies}}
        {{> afQuickField name='quantity'}}
        {{> afQuickField name='deliveryType' options='allowed'}}
        <div class="form-group">
          {{> afFieldLabel name='deliveryContent'}}
          <input type="file" id="deliveryContent">
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Create</button>
    <a href="{{pathFor 'adminItems'}}" class="btn btn-default">Cancel</a>
  {{/autoForm}}
</template>
